@page "/"
@using MyProductivityWebApp.Data
@using MyProductivityWebApp.Data.Data
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Welcome back, @context.User.Identity?.Name!</h1>
        <SurveyPrompt Title="What do you think of the myProductivity web application?" />
        <p>This home page is currently being developed to show your recent tasks and notes!</p>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to myProductivity!</h1>
        <p>Create an account to get started with your productivity today!</p>
    </NotAuthorized>
</AuthorizeView>


